.contact {
    padding: 50px;
    background-color: #fff;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 1.2em;
  }
  
  .contact a {
    color: #61dafb;
    text-decoration: none;
  }
  
  .contact a:hover {
    text-decoration: underline;
  }
  